/*
Name: Tim Barber, Timothy_Barber@student.uml.edu
Computer Science Department, UMass Lowell Comp.4610, GUI Programming I
File: /usr/cs/undergrad/2018/tbarber/public_html/Midterm/CSS/style.css Created: 23-oct-2017
*/

.money {
  font-size: 150%;
}

/* Used for the module title
Makes the background transparent and centers the text
Its a textbox but it looks like a label until you click it*/

.moduleTitle {
  background-color: transparent !important;
  position: relative;
  top: 50%;
  left: 10%;
  text-align: center;
  margin-left: -50px;
  margin-top: -25px;
  width: 87%;
  border: grey;
  font-size: 100%;
  font-weight: bold;
  font-style: oblique;
}

/* Makes the closed button red and rounded
Also sets its position*/

.closeButton {
  filter: drop-shadow(2px 2px 2px gray);
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  right: 5px;
  transition: all 0.3s ease 0s;
  opacity: 0.5;
  background-color: white;
}

.closeButton:hover, .closeButton:focus {
  opacity: 1;
}

.deleteButton {
  filter: drop-shadow(2px 2px 2px gray);
  padding: 10px;
  float: right;
  width: 60px;
  height: 60px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}

.deleteButton:hover, .deleteButton:focus {
  opacity: 1;
}

/* Changes the color of the add module button to green*/

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 12%;
  transition: all 0.3s ease 0s;
}

.dropbtnFadeIn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 12%;
  transition: all 0.3s ease 0s;
  animation: fadein 0.5s;
}

.dropbtnFadeOut {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 12%;
  transition: all 0.3s ease 0s;
  animation: fadeout 0.3s;
}

.carbtn {
  overflow: hidden;
  background-color: #999999;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  border-radius: 12%;
  height: 200px;
  width: 400px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all 0.3s ease 0s;
  text-align: center;
  font-family: "Verdana", Times, sans-serif;
}

.carbtnEXPAND {
  overflow: hidden;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
  padding: 16px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  border-radius: 0%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all 0.5s ease 0s;
  text-align: center;
  font-family: "Verdana", Times, sans-serif;
}

/* Dropdown button on hover & focus */

.carbtn:hover, .dropbtn:focus {
  background-color: #cccccc;
  width: 500px;
  height: 300px;
}

/* Dropdown button on hover & focus */

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* Dropdown button on hover & focus */

.dropbtnChild:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* menu display*/

.addDropdownMenu {
  position: relative;
  display: inline-block;
}

/*Centers the text*/

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -25px;
  font-size: 150%;
}

/*For the contense of the add module button */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  position: fixed;
  bottom: 80px;
  right: -5px;
}

.modulesFadeIn {
  animation: fadein 0.5s;
}

.modulesFadeOut {
  animation: fadeout 0.3s;
}

.moduleFadeOut {
  overflow: hidden;
  animation: fadeout 0.3s;
  transition: all 0.3s ease 0s;
}

.moduleFadeIn {
  overflow: hidden;
  float: left;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  animation: fadein 0.5s;
  transition: all 0.3s ease 0s;
}

.detailsPageFadeIn {
  text-align: center;
  animation: fadein 0.5s;
}

.detailsPageFadeOut {
  text-align: center;
  animation: fadeout 0.3s;
}

.moduleTextFadeOut {
  animation: fadeout .4s;
}

.secondaryTextModuleFadeIn {
  text-align: center;
  animation: fadein 1s;
}

.secondaryTextModuleFadeOut {
  text-align: center;
  animation: fadeout .4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* for links in the content*/

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*Hover color for links */

.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu */

.show {
  display: block;
}

/* Formats the module's width and height
creates a border*/

.module {
  overflow: hidden;
  float: left;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

/*for the info section, sets padding, total width out of entire module */

.info {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  float: left;
  width: 40%;
}

/*for the total section, sets padding, total width out of entire module */

.total {
  text-align: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  float: right;
  width: 30%;
  height: 245px;
  border-left: 5px solid black;
}

.FormFadeIn {
  text-align: center;
  font-size: 24px;
  animation: fadein 1s;
}

.FormFadeOut {
  text-align: center;
  font-size: 24px;
  animation: fadeout .4s;
}

/*for the title section, sets padding, total width out of entire module */

.title {
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  background: transparent;
  border: none;
  font-family: "Verdana", Times, sans-serif;
}

.editBox {
  position: absolute;
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: transparent;
  border: none;
  font-family: "Verdana", Times, sans-serif;
}

.editText {
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: transparent;
  border: none;
  font-family: "Verdana", Times, sans-serif;
}

/*formats all textboxes */

.textbox {
  float: right;
  max-width: 100px;
  background-color: white;
}

.section {}

/* Gives the background color*/

body {
  background-color: white;
  font-family: sans-serif;
  font-size: 110%;
}
